<div class="card mt-5">
  <div class="card-header">
    <p>
      <a href="/api/posts/{{id}}" class="text-decoration-none"><strong
        >{{title}}</strong></a>
      posted by
      {{user.username}}
      on
      {{formateDate createdAd}}
    </p>
  </div>
  <div class="card-body">
    <p class="card-text">
      {{body}}
    </p>
  </div>
</div>